<div class="container mb-8">

    
        
        
            <div class="card">
                <div class="card-header">
                <h3>Confirmation de Publication.</h3>
                </div>
                <div class="card-body text-center">
                  <%= form_with(model: @publication, url: publications_path, local: true) do |form| %>
                    <%= form.hidden_field :image %>
                    <%= form.hidden_field :image_cache %>
                    <%= form.hidden_field :content %>
                    <p> <img src="<%= @publication.image %>"> </p>
                    <p>Content:<%= @publication.content %></p>
                    <%= form.submit  "register" %>
                  <% end %>           
              </div>
         <div class="card-header mb-5 text-center">
         <%= link_to "Retour", :back %>
         </div>
    
</div>


