<div class="text-center">
  <h2>Publication</2>
</div>
<div class="container mb-8">

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-right">
                <i class="fas fa-heart"></i>&nbsp;&nbsp;&nbsp;<%= @publication.likes.count %>
                </div>
                <div class="card-body text-center">
                     
                     <p id="notice"><%= notice %></p>
                    <p>
                      <img
                        src="<%= @publication.image %>"
                        class="img-fluid"
                        alt=""
                        style="margin-top: 30px;"
                      />
                    </p>
                    <p>
                      <%= @publication.content %>
                    </p>
                    
                 </div>
                 <div class="card-footer text-center">
                    <% if @like.present? %>
                      <%= button_to 'Unlike', like_path(id: @like.id), method: :delete, class: 'btn btn-danger' %>||
                    <% else %>
                      <%= button_to 'Like', likes_path(publication_id: @publication.id), method: :post, class: 'btn btn-primary' %>||
                    <% end %>
                   <%= button_to 'Modifier', edit_publication_path(@publication) %> ||
                   <%= button_to 'Retour', publications_path %>  
                 </div>
                 <div class="card-footer text-center">
                 <div id="comments_area">
                 <%= render partial: 'comments/index', locals: { comments: @comments, publication: @publication, user: @user } %>
                  </div>
                  <%= render partial: 'comments/form', locals: { comment: @comment, publication: @publication } %>
                  </div>
             </div>
         </div>
         <div class="col-md-1"></div>
    </div>
</div>






